.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px;
}



div.content_index {

  margin: 20px auto;

}

th {
  text-align: left;
}


#sm_logo {
  width: 100%;
  height: 50%;
  margin: 0 auto;
}

#login_credentials{
  margin: auto;
  width: 50%;
  text-align: center;
}

#login_user{
  margin: auto;
  width: 50%;
  text-align: center;
}

form {
  margin: auto;
}

input {
  margin: 2px auto;
  border: none;
  padding: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*ERB Secret*/

/*ERB Create Mashup */

#create_form {
  margin: auto;
  padding: 2em;
  width: 100%;
  height: 500px;
  text-align: center;
}

#title {
  margin: 0 auto;
  text-align: center;
}

#table, td, th {
  margin: 0 auto;
  width: 400px;
  /*border: 1px solid black;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;

}

#image {
  height: 300px;
}



/*------------------ SVG*/

.search_svg {
  margin: 4px;
  width: 16px;
  height: 16px;
  background-image: url(/img/search.svg);
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

#option_1, #option_2 {
  width: 50%;
}

.image_sizer {
  width: 80%;
  height: 80%;
  margin: 1em;
}

/*Página Mashups*/

div.container_mashup {

  margin-left: 150px;

}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px;
}

.container_mashup {
  margin: 0 0 0 0 auto;
  margin-left: 150px;
  left: 200px;
  width: 720px;
  padding-left: 5px;
  right: 200px;

}



#nav_mashup {

/*  display: block;
  background-color: gray;*/
  
}



#ul_mashup {



  position: fixed;
  top: -28px;
  left: 0px;
  background-color: #cccccc;
  border-left-color: black;
  padding-top: 10px;
  padding-bottom:  200%;
  border-right: solid 2px #e6e6e6;
  padding-left: 1px;
  /*margin-right: -10px;*/

}

#ul_mashup li {

  list-style: none;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px;
  padding-right: 30px;
  border-top:  solid 2px #bfbfbf;


}

#ul_mashup li {


  /*padding-right: 150px;*/

}

#ul_mashup li:nth-child(7) {

  border-bottom:  solid 2px #bfbfbf;

}

 #image_id1  {

  text-align: right;
  /*margin-left: 500px;*/
  /*width: 300px;*/

}

#image_id2 {

  text-align: right;
  display: none;


}

#ul_mashup li a {

  text-decoration: none;
  color: black;




}

.button {

  border-radius: 5px;
  background-color: #52B8FF;
  height: 50px;
  width: 100px;

}
/*Página Secret*/


