<div id="div_mashup">
  <ul id="ul_mashup">
    <li id="image_id1" ><a  href="#"><img src="http://cdn.1001freedownloads.com/icon/thumb/33/cross-24-512.png" height="20px" width="20px"></a></li>
    <li id ="image_id2" ><a  href="#"><img src="https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png" height="20px" width="20px"></a></li>
    <li><a href="/mashups/home">Us</a></li>
    <li><a href="/mashups">Home</a></li> 
    <li><a href="/mashups/new">Create</a></li>
    <li><a href="/mashups/search">Search</a></li>
    <li><a href="/logout">Log Out</a></li>
  </ul>
  <br clear="all">
</div>

<div class="container_mashup">
  <header>
    <img id="logo" src="/img/LogoMashup.png">
  </header>

  <div class="content">
    <div id="Us">
      <h3>¿What is Mashup?</h3>
      <p>We are an application that will help you compare different things.</p>
    </div>

    <div id="Search">
      <h2>Search</h2>
    </div>

    <div id="LogOut">
      <h2>Log Out</h2>
    </div>


    <div id="Contact">
      <h2>Contacto</h2>
      <table width="300">
        <tbody>
          <tr>
            <td>Ivan</td>
            <td>ivan@mashups.com</td>
          </tr>
          <tr>
            <td>Hugo</td>
            <td>hugo@mashups.com</td>
          </tr>
          <tr>
            <td>Mauricio</td>
            <td>mauricio@mashups.com</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <br><br><br>

  <div class="footer">
    Derechos &copy; 2015 Lorem S.A. de C.V
  </div>
  
</div>
  
    
