<div id="div_mashup">
  <ul id="ul_mashup">
    <li id="image_id1" ><a  href="#"><img src="http://cdn.1001freedownloads.com/icon/thumb/33/cross-24-512.png" height="20px" width="20px"></a></li>
    <li id ="image_id2" ><a  href="#"><img src="https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png" height="20px" width="20px"></a></li>
    <li><a href="/mashups/home">Us</a></li>
    <li><a href="/mashups">Home</a></li> 
    <li><a href="/mashups/new">Create</a></li>
    <li><a href="/mashups/search">Search</a></li>
    <li><a href="/logout">Log Out</a></li>
  </ul>
  <br clear="all">
</div>

<div class="container_mashup_search">
  <header>
    <img id="logo" src="/img/LogoMashup.png">
  </header>

  <div class="content_mashup_list">

    <%@mashups.each do |mashup|%>

    <a href="/mashups/search/<%=mashup.id%>"> <%=mashup.title %> </a><br><br>

    
    <%end%>

  </div><br><br><br>

  <div class="footer">
    Derechos &copy; 2015 Lorem S.A. de C.V
  </div>
  
</div>
  
    
